In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd
from us import states
import requests
import json
import dotenv
import os

In [3]:
disaster_cost_url = 'https://www.ncei.noaa.gov/access/billions/state-cost-data.csv'
disaster_freq_url = 'https://www.ncei.noaa.gov/access/billions/state-freq-data.csv'
state_shapefile = '../data/tl_2025_us_state/tl_2025_us_state.shp'

In [4]:
df_cost = pd.read_csv(disaster_cost_url, skiprows=1)
df_cost.head()

,state,drought,flooding,freeze,severe storm,tropical cyclone,wildfire,winter storm
0,AK,0.0,0.0,0.0,0.0,0.0,2344.4,0.0
1,AL,6938.1,137.7,152.4,14669.7,27197.6,733.3,2432.0
2,AR,6893.5,4703.9,298.6,11951.6,720.1,0.0,1360.4
3,AZ,1607.2,1922.4,0.0,5472.0,0.0,1356.1,0.0
4,CA,16558.0,19214.9,15491.0,3533.5,0.0,100093.8,0.0

In [5]:
df_freq = pd.read_csv(disaster_freq_url, skiprows=1)
df_freq.head()

,year,state,drought,flooding,freeze,severe storm,tropical cyclone,wildfire,winter storm
0,1980,AK,0,0,0,0,0,0,0
1,1980,AL,1,0,0,0,0,0,0
2,1980,AR,1,1,0,0,0,0,0
3,1980,AZ,0,0,0,0,0,0,0
4,1980,CA,0,0,0,0,0,0,0

In [6]:
df_freq_long = df_freq.melt(
    id_vars = ['year', 'state'],
    value_vars = ['drought', 'flooding', 'freeze', 'severe storm', 'tropical cyclone', 'wildfire', 'winter storm'],
    var_name = 'disaster_type',
    value_name = 'frequency'
)
df_freq_long

       year state disaster_type  frequency
0      1980    AK       drought          0
1      1980    AL       drought          1
2      1980    AR       drought          1
3      1980    AZ       drought          0
4      1980    CA       drought          0
...     ...   ...           ...        ...
17005  2024    VT  winter storm          0
17006  2024    WA  winter storm          1
17007  2024    WI  winter storm          1
17008  2024    WV  winter storm          0
17009  2024    WY  winter storm          0

[17010 rows x 4 columns]

In [10]:
df_freq_long_filtered = df_freq_long[df_freq_long['frequency'] > 0].copy()
DISASTER_FREQ_DF = df_freq_long_filtered
DISASTER_FREQ_DF

       year state disaster_type  frequency
1      1980    AL       drought          1
2      1980    AR       drought          1
10     1980    GA       drought          1
13     1980    IA       drought          1
15     1980    IL       drought          1
...     ...   ...           ...        ...
17000  2024    TN  winter storm          1
17001  2024    TX  winter storm          1
17003  2024    VA  winter storm          1
17006  2024    WA  winter storm          1
17007  2024    WI  winter storm          1

[2401 rows x 4 columns]